@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
* {
    font-family: "Jersey 25", sans-serif;
   font-size: 25px;
    box-sizing: border-box;/*faz com q section inclua border e padding */
}
html {scroll-behavior: smooth;}

body {
  background-color: #2f3d43;
    margin: 0px;
}
 /*coisa de cima*/
header{
    position: sticky;
    top: 0;
    margin-bottom: 20px; 
    text-transform: uppercase;
    background-color: #297194;
    display: flex;
    align-items: center;
    height: 140px; 
    padding-top: 34 px;
}

div {
    display: flex;

}

a{

    font-size: 30px;
}

button {
    padding: 10px;
    margin: 20px;
}
header img{
    margin: 10px;
    width: 136px;
    padding: 10px;
}

nav {
    display: flex;
    width: 100%;
    justify-content:center;
    gap: 250px;
}

nav a{
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: #dcdcdc;
    list-style-type: none; /*bolinhas q ficam do lado para simbolizar uma lista*/
    text-decoration: none;
    color: #dcdcdc;
}

/*texto normal*/

section{

    margin: auto; /* a margem se ajusta com o tamanho da tela e fica no meio*/
    padding: 20px; /*ele faz com que o padding do texto n fique pra fora do section por falta de espaço*/
    width: 1200px; /* largura da section*/
}
/*texto*/
.h1Especial{
    color: #dcdcdc;
}

h1{
    text-transform: uppercase;
    color: #2e8462;
}

h2{
    text-transform: uppercase;
    text-align:left;
    color: #2e8462;
}

p {
    
    color: #dcdcdc; 
}

/*tabela*/
table {
    background-color: #430969;
    border-collapse: collapse;
    border: 2px solid #2f3d43;
    width: 400px;
    margin: auto;
    margin-bottom: 20px;

}

th {
    background-color: #bc5cd4;
    border: 2px solid #2f3d43;
}

tr {
    background-color: #ffffff;
    border: 2px solid #2f3d43;
}

td{
    border: 2px solid #2f3d43;
}


div img{ 
    width: 200px;
}

/*botão*/
.buttons {
    margin-top: 20px;
}

button {
    background-color: #406871;
    color: #dcdcdc;
    border: 2px solid #dcdcdc;
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {

    background-color: #dcdcdc;
    color: #406871;
}


/*formulario*/ 
form {
    background-color: #297194 ;
    width: 80%;
    padding: 5%;
    border: 10px solid #297194;
    border-radius: 30px;
}

input {
    background-color: #dcdcdc;
    margin: 8px;
}


label {
    color: #dcdcdc;
    }

form ::placeholder{
color: #6d6d6d;
}


/*cores: 
#2e8462 verde
#406871 cinza
#297194 azul
#2f3d43 preto
#dcdcdc branco
****preto e branco n são 100% para n queimar os olhos :D */



  #Acessibilidade{
    margin: 0px;
    max-height: 35px;
    color: gray;
    font-weight: bold;
    padding: 30px;
    font-size: 16px;
    /*border-width: 6px ;
    border-style:  none none solid none;
    border-color: #2e8462;*/
    }
    

    
 #Acessibilidade button{
    padding: 1px;
 }

.RedesSociais{
    margin:5px;
    width: 60px;
}

#Rosto{

    width: 200px;
}

img {

    width: 200px;
}

#andres{
    margin-top: 0;
    margin-left: 55px;
}
