@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
* {
    font-family: "Jersey 25", sans-serif;
    font-size: 25px;

    box-sizing: border-box;/*faz com q section inclua border e padding */
}
html {scroll-behavior: smooth;}

body {
    background-color: #46a97a;
    margin: 0px;
}
 /*coisa de cima*/
header{
    position: sticky;
    top: 0;
    margin-bottom: 20px; 
    text-transform: uppercase;
    background-color: #297194;
    display: flex;
    align-items: center;
   height: 150px;
}

button {
    padding: 10px;
    margin: 20px;
}

header img{
    margin: 10px;
    width: 150px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

nav a{
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: #dcdcdc;
    list-style-type: none; /*bolinhas q ficam do lado para simbolizar uma lista*/
    text-decoration: none;
    color: #dcdcdc;
}

/*texto normal*/
section{
    background-color: #dcdcdc;
    margin: auto; /* a margem se ajusta com o tamanho da tela e fica no meio*/
    padding: 20px; /*ele faz com que o padding do texto n fique pra fora do section por falta de espaço*/
    width: 1200px; /* largura da section*/
    text-align: center;
}
/*texto*/
h1{
    text-transform: uppercase;
    color: #b9492f;
}

h2{
    text-transform: uppercase;
    text-align:left;
    color: #2e8462;
}

p {
    color: #2f3d43; 
    text-align: justify;
}

ul{
    color: #2f3d43; 
    text-align: justify;
}

ol{
    color: #2f3d43; 
    text-align: justify;
}

/*imagem maldita*/

section img {
    box-sizing: border-box; 
    width: 500px;
    margin: auto;
    border: 5px solid #000;
    display: block;
}

/*tabela*/
table {
    background-color: #430969;
    border-collapse: collapse;
    border: 2px solid #2f3d43;
    width: 400px;
    margin: auto;
    margin-bottom: 20px;

}

th {
    background-color: #bc5cd4;
    border: 2px solid #2f3d43;
}

tr {
    background-color: #ffffff;
    border: 2px solid #2f3d43;
}

td{
    border: 2px solid #2f3d43;
}


div img{ 
    width: 200px;
}

/*formulario*/ 
form {
    border: 2p outset #bef010;
    background-color: gray;
    width: 80%;
    font-weight: bold;
    padding: 5%;
    border: 10px dashed #8f1a1a;
}

input {
    background-color: #c4454580;
    margin: 8px;
}


label {
    color: #150e52;
    }
    
    
    /*rodapé*/
footer {
    background-color: #406871;
    margin-top: 20px;
    /**/padding: 20px;
    min-height: 100px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

footer img{
    margin: 10px;
    width: 100px; 
}

footer p {
    color: #dcdcdc;
    text-align: center;  
    padding:10px;  
    margin: 0;   
    text-transform: uppercase;   
    }

/*professor n ensinou:*/
form ::placeholder{
color: #471515;
}

/*cores: 
#b9492f laranja
#46a97a verde claro
#2e8462 verde
#406871 cinza
#297194 azul
#2f3d43 preto
#dcdcdc branco
****preto e branco n são 100% para n queimar os olhos :D */
