section{
    margin: auto;
    background-color: aquamarine;
}


form {

    justify-content: center;
    width: 84%;
}



input{
    margin: 20px;
    font-size: 30px;

}

label {

    font-size: 30px;
    margin: 10px;
}


body {

    font-family: "Jersey 25", sans-serif;
    font-size: 50px;
}

nav{


    gap: 35%;
}


a{
    
    font: 60px;
}