

section{
    width: 40%;
    height: 40%;
    margin: 10px;
    text-align: center;
}

#teccinho img{
    width: 100%;
    padding: 5%;
}

#proposta{
    min-width: 55%;
}

div{
    justify-content: space-around;
    display: flex;
    height: 100%;
}

article{
    text-align: left;
    min-height: 400px;
}

@media (max-width: 1024px) {
    section{
    margin: auto;
    text-align: center;
    min-width: 300px;
}

section{
    width: 100%;
}

h1{
    margin: 2%;
}

div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}